@CHARSET "ISO-8859-1";

#d3{
	position: absolute;
	right:500px;
	bottom:25px;
    width: 50%;
    
    

   /*  animation:d3 0.5s 1;
    -webkit-animation:d3 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:10s;
    -webkit-animation-delay:10s; 
    -webkit-animation-fill-mode: forwards;*/

} 

@keyframes d3{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes d3{
    from {opacity :1;}
    to {opacity :0;}
}
#d4{
	
	position: absolute;
	right:100px;
	bottom:50px;
    width: 300%;
    overflow:hidden;
    white-space:norap;
    
  
   
   /* margin-top: 20px;

   animation:d3 0.5s 1;
    -webkit-animation:d3 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:10s;
    -webkit-animation-delay:10s; 
    -webkit-animation-fill-mode: forwards;*/

} 

@keyframes d4{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes d4{
    from {opacity :1;}
    to {opacity :0;}
}
#d5{
	position: absolute;
	right:500px;
	bottom:25px;
    width: 50%;
    
    

   /*  animation:d3 0.5s 1;
    -webkit-animation:d3 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:10s;
    -webkit-animation-delay:10s; 
    -webkit-animation-fill-mode: forwards;*/

} 

@keyframes d5{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes d5{
    from {opacity :1;}
    to {opacity :0;}
}