@CHARSET "ISO-8859-1";
#circle {
  background:#66FFFF;
  border-radius: 50%;
  border:1px solid blue;
  height: 100px;
  width: 100px;
  margin: 100px;
  position:absolute;
  top:200px;
  left:350px;
 }
#circle img{
	position: absolute;
    margin: 100px 0 0 100px;
    top: -75px;
    left:-75px;
}

#circle1 {
  background: #66FFFF;
  border-radius: 50%;
  border:1px solid blue;
  height: 100px;
  width:100px;
  margin: 100px;
  transition: transform 1s;
  transform:translateY(-80px);
  position:absolute;
  top:200px;
  left:350px;
}
 #circle:active ~#circle1 {
  transform: translate(0px,-100px);
}
#container{
	position:absolute;
	right:75px;
	top:700px;
}
#imgs img{
	height:150px;
	width:auto;
	height:100px;
	
}	
table#table td{
	height:30px;
}
#facebook{
	table-layout: fixed;
	width: 500px;
	position:absolute;
	left:150px; 
	bottom:300px;
}
#tweet{
	position:relative;
	bottom:150px;
}

#tweet_img{
	position:relative;
	left:150px;
	bottom:150px;
}

#marketting{
	position:relative;
	top:500px;
	left:800px;
	height:100px;
}
#content{
	display:none;
}
body{
	overflow:hidden;
}
#libtn{
	position:relative;
	bottom:30px;
}
#likes{
	position:relative;
	bottom:30px;
}