<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ENI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletContactUs</display-name>
    <servlet-name>ServletContactUs</servlet-name>
    <servlet-class>com.src.support.ServletContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContactUs</servlet-name>
    <url-pattern>/ServletContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletForImage</display-name>
    <servlet-name>ServletForImage</servlet-name>
    <servlet-class>com.src.support.ServletForImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletForImage</servlet-name>
    <url-pattern>/ServletForImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerForImageRet</display-name>
    <servlet-name>ServerForImageRet</servlet-name>
    <servlet-class>com.src.support.ServerForImageRet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerForImageRet</servlet-name>
    <url-pattern>/ServerForImageRet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>New1</display-name>
    <servlet-name>New1</servlet-name>
    <servlet-class>com.src.support.New1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New1</servlet-name>
    <url-pattern>/New1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tweet</display-name>
    <servlet-name>Tweet</servlet-name>
    <servlet-class>com.src.support.Tweet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tweet</servlet-name>
    <url-pattern>/Tweet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WhatToThink</display-name>
    <servlet-name>WhatToThink</servlet-name>
    <servlet-class>com.src.support.WhatToThink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhatToThink</servlet-name>
    <url-pattern>/WhatToThink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>com.src.support.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageCar</display-name>
    <servlet-name>ImageCar</servlet-name>
    <servlet-class>com.src.support.ImageCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCar</servlet-name>
    <url-pattern>/ImageCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imagedb</display-name>
    <servlet-name>Imagedb</servlet-name>
    <servlet-class>com.src.support.Imagedb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imagedb</servlet-name>
    <url-pattern>/Imagedb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImage</display-name>
    <servlet-name>GetImage</servlet-name>
    <servlet-class>com.src.support.GetImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImage</servlet-name>
    <url-pattern>/GetImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetImg</display-name>
    <servlet-name>GetImg</servlet-name>
    <servlet-class>com.src.support.GetImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImg</servlet-name>
    <url-pattern>/GetImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetImg</display-name>
    <servlet-name>RetImg</servlet-name>
    <servlet-class>com.src.support.RetImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetImg</servlet-name>
    <url-pattern>/RetImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gimage</display-name>
    <servlet-name>Gimage</servlet-name>
    <servlet-class>com.src.support.Gimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gimage</servlet-name>
    <url-pattern>/Gimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rimage</display-name>
    <servlet-name>Rimage</servlet-name>
    <servlet-class>com.src.support.Rimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rimage</servlet-name>
    <url-pattern>/Rimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rimage1</display-name>
    <servlet-name>Rimage1</servlet-name>
    <servlet-class>com.src.support.Rimage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rimage1</servlet-name>
    <url-pattern>/Rimage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imagedb1</display-name>
    <servlet-name>Imagedb1</servlet-name>
    <servlet-class>com.src.support.Imagedb1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imagedb1</servlet-name>
    <url-pattern>/Imagedb1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajaxservlet</display-name>
    <servlet-name>ajaxservlet</servlet-name>
    <servlet-class>com.src.support.ajaxservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxservlet</servlet-name>
    <url-pattern>/ajaxservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sampleimage1</display-name>
    <servlet-name>Sampleimage1</servlet-name>
    <servlet-class>com.src.support.Sampleimage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sampleimage1</servlet-name>
    <url-pattern>/Sampleimage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterFeed</display-name>
    <servlet-name>TwitterFeed</servlet-name>
    <servlet-class>com.src.support.TwitterFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterFeed</servlet-name>
    <url-pattern>/TwitterFeed</url-pattern>
  </servlet-mapping>
</web-app>