<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ENI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletContactUs</display-name>
    <servlet-name>ServletContactUs</servlet-name>
    <servlet-class>com.src.support.ServletContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContactUs</servlet-name>
    <url-pattern>/ServletContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Twitter</display-name>
    <servlet-name>Twitter</servlet-name>
    <servlet-class>com.src.support.Twitter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Twitter</servlet-name>
    <url-pattern>/Twitter</url-pattern>
  </servlet-mapping>
</web-app>