<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ENI</display-name>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>log4j1-config-location</param-name>
    <param-value>WEB-INF/log4j1.properties</param-value>
  </context-param>
  <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NLP</display-name>
    <servlet-name>NLP</servlet-name>
    <servlet-class>com.src.support.NLP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NLP</servlet-name>
    <url-pattern>/NLP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertimagetodb</display-name>
    <servlet-name>Insertimagetodb</servlet-name>
    <servlet-class>com.src.support.Insertimagetodb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertimagetodb</servlet-name>
    <url-pattern>/Insertimagetodb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WhatToThink</display-name>
    <servlet-name>WhatToThink</servlet-name>
    <servlet-class>com.src.support.WhatToThink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhatToThink</servlet-name>
    <url-pattern>/WhatToThink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imagedb</display-name>
    <servlet-name>Imagedb</servlet-name>
    <servlet-class>com.src.support.Imagedb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imagedb</servlet-name>
    <url-pattern>/Imagedb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imagedb1</display-name>
    <servlet-name>Imagedb1</servlet-name>
    <servlet-class>com.src.support.Imagedb1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imagedb1</servlet-name>
    <url-pattern>/Imagedb1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sampleimage1</display-name>
    <servlet-name>Sampleimage1</servlet-name>
    <servlet-class>com.src.support.Sampleimage1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sampleimage1</servlet-name>
    <url-pattern>/Sampleimage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogDemo</display-name>
    <servlet-name>LogDemo</servlet-name>
    <servlet-class>com.src.support.LogDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogDemo</servlet-name>
    <url-pattern>/LogDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log_click_count</display-name>
    <servlet-name>Log_click_count</servlet-name>
    <servlet-class>com.src.support.Log_click_count</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_click_count</servlet-name>
    <url-pattern>/Log_click_count</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log_click_count1</display-name>
    <servlet-name>Log_click_count1</servlet-name>
    <servlet-class>com.src.support.Log_click_count1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_click_count1</servlet-name>
    <url-pattern>/Log_click_count1</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.src.support.ContextListener1</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Log_swipe_count</display-name>
    <servlet-name>Log_swipe_count</servlet-name>
    <servlet-class>com.src.support.Log_swipe_count</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_swipe_count</servlet-name>
    <url-pattern>/Log_swipe_count</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.src.support.ContextListener2</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>fbservlet</display-name>
    <servlet-name>fbservlet</servlet-name>
    <servlet-class>com.src.support.fbservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fbservlet</servlet-name>
    <url-pattern>/fbservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likesservlet</display-name>
    <servlet-name>likesservlet</servlet-name>
    <servlet-class>com.src.support.likesservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likesservlet</servlet-name>
    <url-pattern>/likesservlet</url-pattern>
  </servlet-mapping>
</web-app>